@model TorontoShop.Domain.ViewModel.Admin.Product.ProductCategoryFilterViewModel

@if (Model.Categories != null && Model.Categories.Any())
{
    <div class="dropdown category-dropdown">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" data-display="static"
           title="دسته بندی فروشگاه">
            فهرست دسته بندی ها <i class="icon-angle-down"></i>
        </a>

        <div class="dropdown-menu">
            <nav class="side-nav">
                <ul class="menu-vertical sf-arrows">
                    @foreach (var category in Model.Categories)
                    {
                        <li class="item-lead"><a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@category.UrlName">@category.Title</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>

}