<footer class="footer">
    <div class="cta bg-image bg-dark pt-4 pb-5 mb-0"
         style="background-image: url(/images/demos/demo-4/bg-5.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title text-white">دریافت آخرین پیشنهادات</h3><!-- End .cta-title -->
                        <p class="cta-desc text-white text-center">
                            و دریافت <span class="font-weight-normal">
                                کد
                                تخفیف 20 هزار تومانی
                            </span> برای اولین خرید
                        </p><!-- End .cta-desc -->
                    </div><!-- End .text-center -->

                    <form action="#">
                        <div class="input-group input-group-round">
                            <input type="email" class="form-control form-control-white"
                                   placeholder="آدرس ایمیل خود را وارد کنید" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <span>عضویت</span><i class="icon-long-arrow-left"></i>
                                </button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>
                </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cta -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/images/demos/demo-4/logo-footer.png" class="footer-logo"
                             alt="Footer Logo" width="105" height="25">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم.
                        </p>

                        <div class="widget-call">
                            <i class="icon-phone"></i>
                            سوالی دارید؟ 7روز هفته/24ساعته
                            <a href="tel:#">02155667788</a>
                        </div><!-- End .widget-call -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="#">خدمات</a></li>
                            <li><a href="#">نحوه خرید</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">خدمات مشتری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">شیوه پرداخت</a></li>
                            <li><a href="#">گارانتی بازگشت وجه</a></li>
                            <li><a href="#">شیوه ارسال محصولات</a></li>
                            <li><a href="#">قوانین و مقررات</a></li>
                            <li><a href="#">خط مشی</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">ورود</a></li>
                            <li><a href="cart.html">سبد خرید</a></li>
                            <li><a href="#">لیست علاقه مندی ها</a></li>
                            <li><a href="#">پیگیری سفارشات</a></li>
                            <li><a href="#">راهنما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">کپی رایت © 2019 تمامی حقوق محفوظ است.</p>
            <!-- End .footer-copyright -->

            <div class="social-icons social-icons-color">
                <span class="social-label">شبکه های اجتماعی</span>
                <a href="#" class="social-icon social-facebook" title="فیسبوک" target="_blank">
                    <i class="icon-facebook-f"></i>
                </a>
                <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank">
                    <i class="icon-instagram"></i>
                </a>
                <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank">
                    <i class="icon-youtube"></i>
                </a>
                <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank">
                    <i class="icon-pinterest"></i>
                </a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div>
</footer><!-- End .footer -->